<div class="project-container">
  <h1 class="project-title">{{content.name}}</h1>
  <p class="project-content"> <span class="project-header"> About: </span>{{content.about}}</p>
  <p class="project-content"><span class="project-header"> Built using: </span>{{content.built}}</p>
  <p class="project-content"><span class="project-header"> Created by: </span>{{content.createdBy}}</p>
  <a target="_blank" href={{content.githubURL}}>View on GitHub</a>
</div>

{{outlet}}
