<div class="projects-container">
  <div class="highlighted-projects-container">
    <h1>Highlighted Projects</h1>
    {{#each content.highlightedProjects as |project|}}
      <li> {{link-to project.name 'home.project' project.id}}</li>
    {{/each}}
  </div>
  <div class="github-projects-container">
    <h1>GitHub Projects</h1>
    <div class="github-projects-user-info-container">
      <div class="user-container">
        <p class="link-to-github">Link to my
          <a tartet="_blank" href={{content.user.html_url}}>GitHub</a>
        </p>
      </div>
      <div class="table-container">
        <table class="github-projects-repos">
          {{#each content.repos as |repo|}}
            <td>
              <a target="_blank" href={{repo.html_url}}>
                {{repo.name}}
              </a>
            </td>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- {{ log content.highlightedProjects}} -->

{{outlet}}
