<div class="projects-container">
  <div class="highlighted-projects-container">
    <h1>Highlighted Projects</h1>
  </div>
  <div class="github-projects-container">
    <h1>GitHub Projects</h1>
    <div class="github-projects-user-info-container">
      <img src={{content.avatar_url}} width="50px" alt="user picture">
      <p>{{content.name}}</p>
      <p>Link to my <a tartet="_blank" href={{content.html_url}}>GitHub</a></p>
    </div>
  </div>
</div>

{{ log content }}

{{outlet}}
